@charset "UTF-8";
nav {
  background-color: #fff; }
  nav .nav__logo {
    background-color: #001f6c;
    color: #fff;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px; }
  nav .nav__li {
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px; }
    nav .nav__li .nav__a {
      color: #000;
      font-size: 18px;
      padding: 10px 10px 10px 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: "Verdana", Geneva, Tahoma, sans-serif;
      text-decoration: none;
      transition: border-radius 100ms; }
    nav .nav__li .nav__a:hover {
      border-radius: 40px;
      padding: 10px 10px 10px 10px;
      color: #fff;
      background-color: #000;
      transition: 100ms; }

.portada {
  background-image: url(../assets/img/1535729470-portada-computacin-1200x519.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .portada h1, .portada h2, .portada p, .portada button {
    color: #fff;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .portada h2 {
    width: 70%;
    font-family: 'Raleway', sans-serif; }
  .portada h1 {
    padding-bottom: 30px;
    width: 70%;
    font-size: 35px;
    bottom: 30px; }
  .portada a {
    text-decoration: none;
    color: #fff; }
  .portada .portada__botones {
    width: 50%; }
  .portada button {
    color: #fff;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: #001f6c;
    padding: 8px;
    margin-top: 15px;
    transition: all 0.2s;
    top: 30px; }
  .portada button:hover {
    background-color: #000;
    color: #fff; }
  .portada .fondo__botones {
    width: 100%; }

.portada::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2e2e15;
  opacity: 0.7;
  position: absolute; }

@media only screen and (max-width: 600px) {
  .portada {
    width: 100%;
    height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .portada h2 {
      width: 70%;
      font-family: 'Raleway', sans-serif;
      font-size: 20px; }
    .portada h1 {
      font-size: 25px; }
    .portada button {
      transition: all 0.5s;
      top: 30px; }
    .portada a {
      font-size: 15px; } }

.section-2 {
  background-color: #69d5ff;
  padding-bottom: 150px; }

@media only screen and (max-width: 550px) {
  .section-2 p {
    font-size: 20px;
    text-align: center; } }

.imagen_entre_texto {
  width: 70%; }

.texto-entre-imagen {
  line-height: 30px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

.img-programing {
  width: 80%; }

.texto3 {
  line-height: 30px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

.text-info {
  font-size: 30px; }

.carousel-inner img {
  border-radius: 10px;
  width: 100%; }

.imagen-contacto-index {
  background: url("../assets/img/pexels-dana-tentis-370799.jpg") no-repeat fixed;
  padding-bottom: 20%;
  padding-top: 50px;
  position: relative; }
  .imagen-contacto-index p {
    font-size: 40px; }

@media only screen and (max-width: 550px) {
  .imagen-contacto-index p {
    font-size: 25px; } }

.baner-nosotros {
  background-image: url(../assets/img/baner-nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .baner-nosotros h2, .baner-nosotros h3, .baner-nosotros p {
    color: #fff;
    position: relative;
    font-family: 'Raleway', sans-serif; }
  .baner-nosotros h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px; }
  .baner-nosotros h3 {
    font-size: 30px; }
  .baner-nosotros p {
    font-size: 20px;
    padding-top: 20px; }

.baner-nosotros::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #020067;
  opacity: 0.7;
  position: absolute; }

@media only screen and (max-width: 550px) {
  .baner-nosotros {
    text-align: center; }
    .baner-nosotros h2, .baner-nosotros h3, .baner-nosotros p {
      color: #fff;
      position: relative;
      font-family: 'Raleway', sans-serif; }
    .baner-nosotros h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px; }
    .baner-nosotros h3 {
      font-size: 20px; }
    .baner-nosotros p {
      font-size: 15px;
      padding-top: 20px; } }

.degradee {
  background-image: linear-gradient(115deg, #ffffff 0, #ffffff 8.33%, #ffffff 16.67%, #ffffff 25%, #ffffff 33.33%, #ffffff 41.67%, #f9f9f6 50%, #eaece0 58.33%, #dae1ce 66.67%, #c9d8be 75%, #b8d0b2 83.33%, #a6c9aa 91.67%, #95c4a4 100%); }
  .degradee .degradee__img-nosotros {
    width: 100%;
    border-radius: 30px; }
  .degradee .degradee__parrafo-nosotros {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight: 100; }

@media only screen and (max-width: 550px) {
  .degradee h1 {
    font-size: 20px; }
  .degradee .degradee__img-nosotros {
    width: 100%;
    border-radius: 30px; }
  .degradee .degradee__parrafo-nosotros {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 15px;
    font-weight: 100;
    text-align: center; } }

.section-2-nosotros {
  background-color: #602b6b; }

.titulo-conocimiento {
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  font-size: 40px;
  font-weight: 100;
  text-align: center; }

.img-js {
  width: 75%; }

.parrafo-js {
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center; }

.numero {
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  font-size: 20px;
  font-weight: 100; }

.img-numero {
  width: 200px; }

@media only screen and (max-width: 550px) {
  .titulo-conocimiento {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 30px;
    font-weight: 100; }
  .img-numero {
    width: 100px; }
  .section-2-nosotros .parrafo-js {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 15px;
    font-weight: 100;
    text-align: center; } }

.trasfondo {
  background-image: url("../assets/img/meeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .trasfondo h1, .trasfondo p, .trasfondo button {
    color: #fff;
    position: relative; }
  .trasfondo h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    bottom: 60px;
    font-size: 50px; }
  .trasfondo p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    bottom: 30px; }
  .trasfondo button {
    text-decoration: none;
    border-style: none;
    background: none;
    color: #fff;
    background-color: #001f6c;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.2s; }
  .trasfondo a {
    text-decoration: none;
    color: #fff; }
  .trasfondo button:hover {
    background-color: #000; }
  .trasfondo a:hover {
    color: #fff; }

.trasfondo::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2b2d2c;
  opacity: .75;
  position: absolute; }

@media only screen and (max-width: 850px) {
  .trasfondo {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media only screen and (max-width: 550px) {
  .trasfondo {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .trasfondo h1 {
      font-size: 20px; }
    .trasfondo p {
      font-size: 15px; } }

.box-imagen-servicios {
  background: url("../assets/img/pexels-mudassir-ali-2680270.jpg") no-repeat fixed 100%; }

.padding-imagen {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 0; }
  .padding-imagen h2 {
    font-size: 40px; }

.box-bordes {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 30px;
  margin-left: 25px;
  width: 300px;
  transition: all 0.5s; }
  .box-bordes h2 {
    font-size: 25px; }

.box-bordes:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }

.box-bordes p {
  font-family: "Raleway", sans-serif; }

@media only screen and (max-width: 550px) {
  .padding-imagen h2 {
    font-size: 25px; }
  .box-bordes {
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    border: solid 1px #fff;
    border-radius: 10px;
    padding: 30px;
    margin-left: 25px;
    width: 300px;
    transition: all 0.5s; }
    .box-bordes h2 {
      font-size: 20px; } }

.box-imagen-2 {
  background: url("../assets/img/pexels-steve-johnson-1484759.jpg") repeat fixed;
  padding-bottom: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .box-imagen-2 .box-imagen-2 h2 {
    letter-spacing: 5px;
    font-size: 30px; }
  .box-imagen-2 .box-imagen-2 p {
    font-size: 25px; }

.bordes-dos {
  border: solid 1px black;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.5s; }
  .bordes-dos p {
    font-size: 20px; }

.bordes-dos:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }

@media only screen and (max-width: 550px) {
  .box-imagen-2 {
    background: url("../assets/img/pexels-steve-johnson-1484759.jpg") repeat fixed;
    padding-bottom: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .box-imagen-2 .box-imagen-2 h2 {
      letter-spacing: 5px; }
    .box-imagen-2 .box-imagen-2 p {
      font-size: 20px; }
  .bordes-dos {
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.5s; }
    .bordes-dos p {
      font-size: 15px; }
  .bordes-dos:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer; } }

.descripcion {
  position: relative;
  background-color: #16869a;
  max-width: 100%;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #fff;
  padding-bottom: 50px; }
  .descripcion h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px; }

.descripcion__precios div {
  font-size: 20px;
  border: solid 1px white;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.5s; }

.descripcion__precios h3 {
  letter-spacing: 4px; }

.descripcion__precios div:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }

@media only screen and (max-width: 550px) {
  .descripcion h2 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px; }
  .descripcion__precios div {
    font-size: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.5s; }
  .descripcion__precios h3 {
    letter-spacing: 2px;
    font-size: 18px; }
  .descripcion__precios p {
    font-size: 15px; }
  .descripcion__precios div:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer; } }

footer h3 {
  font-size: 40px;
  font-family: "Raleway", sans-serif; }

footer .footer__p {
  font-size: 30px;
  font-family: "Raleway", sans-serif; }

@media only screen and (max-width: 550px) {
  footer h3 {
    font-size: 30px;
    font-family: "Raleway", sans-serif; }
  footer .footer__p {
    font-size: 20px;
    font-family: "Raleway", sans-serif; } }

.imagen-contacto {
  background: url("../assets/img/pexels-elina-krima-3377405.jpg") no-repeat fixed;
  padding-bottom: 20%;
  padding-top: 50px;
  position: relative; }
  .imagen-contacto input {
    border-radius: 10px;
    border: 0; }
  .imagen-contacto .imagen-contacto__color-contacto {
    position: absolute;
    color: rgba(0, 0, 0, 0.315); }
  .imagen-contacto h1 {
    font-family: 'Raleway', sans-serif; }

.texto-contacto {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  padding-top: 20%; }

textarea {
  border-radius: 10px;
  width: 80%; }

.boton-enviar {
  border-radius: 10px;
  background: none;
  transition: background 0.5s; }

.boton-enviar:hover {
  background: rgba(236, 236, 236, 0.904);
  transform: scale(1.05, 1.05); }

@media only screen and (max-width: 550px) {
  .imagen-contacto h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center; }
  .imagen-contacto .texto-contacto {
    font-size: 30px;
    text-align: center; } }

/* Sección PORTAFOLIO */
.imagen-portafolio {
  background: url("../assets/img/pexels-pixabay-268415.jpg");
  padding-top: 10%;
  padding-bottom: 10%; }

.div-portafolio {
  padding-top: 10%;
  padding-bottom: 10%; }
  .div-portafolio h1 {
    font-family: 'Raleway', sans-serif; }

/* Footer */
footer {
  background: linear-gradient(90deg, #fff);
  color: #000;
  padding: 2rem 0;
  text-align: center;
  left: 0;
  bottom: 0;
  /* width: 100%; */ }

.imgFooter {
  width: 500px; }

label {
  color: #6B49F6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

form {
  border-radius: 20px; }

fieldset {
  border-radius: 10px;
  padding: 40px; }

legend {
  font-size: 30px;
  color: #6B49F6;
  font-weight: bolder;
  text-align: center; }

.field {
  padding: 10px;
  width: 300px;
  text-align: left; }

.fieldCorreo {
  padding: 10px;
  width: 312px;
  text-align: left; }

.textoMensaje {
  text-align: center;
  color: #6B49F6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.fieldMensaje {
  padding: 10px;
  width: 374px;
  font-weight: bold; }

.btnn {
  background-color: #CFF6FF;
  border: none;
  border-radius: 10px;
  padding: 18px;
  color: #6B49F6;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-top: 20px;
  transition: 0.5s; }

.btnn:hover {
  background-color: #31E6EC;
  transition: 0.5s;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05); }
