// Variables
$color-degradee: linear-gradient(115deg, #ffffff 0, #ffffff 8.33%, #ffffff 16.67%, #ffffff 25%, #ffffff 33.33%, #ffffff 41.67%, #f9f9f6 50%, #eaece0 58.33%, #dae1ce 66.67%, #c9d8be 75%, #b8d0b2 83.33%, #a6c9aa 91.67%, #95c4a4 100%);


// Mixin
@mixin size($width, $height) {
    width: $width;
    height: $height;
}


// SECCIÓN NOSOTROS

.baner-nosotros{
    background-image: url(../assets/img/baner-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    h2, h3, p{
        color: #fff;
        position: relative;
        font-family: 'Raleway', sans-serif;
    }
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h3{
        font-size:30px;
    }

    p{
        font-size: 20px;
        padding-top: 20px;
    }

}

.baner-nosotros::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(2, 0, 103);
    opacity: 0.7;

    position: absolute;
}

.degradee{
    background-image: $color-degradee;

    .degradee__img-nosotros{
        width: 100%;
    }

    .degradee__parrafo-nosotros{
        font-family: 'Raleway', sans-serif;
        line-height: 30px;
        font-size: 20px;
        font-weight:100;
    }
}


.section-2-nosotros{
    background-color: rgb(96, 43, 107);
}

.titulo-conocimiento{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 40px;
    font-weight:100;
}

.img-js{
    width: 75%;
}

.parrafo-js{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight:100;
}

.numero{
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight:100;
}

.img-numero{
    width: 200px;
}