// Variables
$color-blanco: #fff;
$color-negro: #000;
$fuente-raleway: 'Raleway', sans-serif;
$fuente-verdana: "Verdana", Geneva, Tahoma, sans-serif;
$azul-logo: rgb(0, 31, 108);

// Seccion principal Servicios

.trasfondo{
    background-image: url('../assets/img/meeting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, p, button{
        color: $color-blanco;
        position: relative;
    }

    h1{
        font-family: $fuente-raleway;
        font-weight: bold;
        bottom: 60px;
        font-size: 50px;
    }
    p{
        font-family: $fuente-raleway;
        font-size: 30px;
        bottom: 30px;
    }

    button{
        text-decoration: none;
        border-style: none;
        background: none;
        color: $color-blanco;
        background-color: $azul-logo;
        padding: 8px;
        border-radius: 10px;

        transition: all 0.2s;
    }

    a{
        text-decoration: none;
        color: $color-blanco;
    }

    button:hover{
        background-color: $color-negro;
    }

    a:hover{
        color: $color-blanco;
    }
}

.trasfondo::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgb(43, 45, 44);
    opacity: .75;

    position: absolute;
}

@media only screen and (max-width: 850px){
    .trasfondo{
        width: 100%;
        height: 600px;
        text-align: center;
    
        position: relative;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
}

@media only screen and (max-width: 550px) {
    .trasfondo{
        width: 100%;
        height: 600px;
        text-align: center;
    
        position: relative;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 20px;
        }

        p{
            font-size: 15px;
        }
    }
}



// Segunda seccion Servicios

.box-imagen-servicios{
    background: url('../assets/img/pexels-mudassir-ali-2680270.jpg') no-repeat fixed 100%;
}

.padding-imagen{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 0;

    h2{
        font-size: 40px;
    }
}

.box-bordes{
    font-family: $fuente-verdana;
    border: solid 1px $color-blanco;
    border-radius: 10px;
    padding: 30px;
    margin-left: 25px;
    width: 300px;
    transition: all 0.5s;

    h2{
        font-size: 25px;
    }
}


.box-bordes:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.box-bordes p{
    font-family: $fuente-raleway;
}

@media only screen and (max-width: 550px){
    .padding-imagen{
    
        h2{
            font-size: 25px;
        }
    }
    
    .box-bordes{
        font-family: $fuente-verdana;
        border: solid 1px $color-blanco;
        border-radius: 10px;
        padding: 30px;
        margin-left: 25px;
        width: 300px;
        transition: all 0.5s;
    
        h2{
            font-size: 20px;
        }
    }
}

// Sección Precios WEB


.box-imagen-2{
    background: url('../assets/img/pexels-steve-johnson-1484759.jpg') repeat fixed;
    padding-bottom: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .box-imagen-2 h2{
        letter-spacing: 5px;
        font-size: 30px;
    }

    .box-imagen-2 p{
        font-size: 25px;
    }
}

.bordes-dos{
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.5s;

    p{
        font-size: 20px;
    }
}


.bordes-dos:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

@media only screen and (max-width:550px){
    .box-imagen-2{
        background: url('../assets/img/pexels-steve-johnson-1484759.jpg') repeat fixed;
        padding-bottom: 10%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
        .box-imagen-2 h2{
            letter-spacing: 5px;
        }
    
        .box-imagen-2 p{
            font-size: 20px;
        }
    }
    
    .bordes-dos{
        border: solid 1px black;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all 0.5s;

        p{
            font-size: 15px;
        }
    }
    
    
    .bordes-dos:hover{
        transform: scale(1.05, 1.05);
        cursor: pointer;
    }
}

// Sección MKT

.descripcion{
    position: relative;
    background-color: rgb(22, 134, 154);
    max-width: 100%;
    font-family: $fuente-verdana;
    color: $color-blanco;
    padding-bottom: 50px;


    h2{
        color: $color-blanco;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }

}

.descripcion__precios{
    div{
        font-size: 20px;
        border: solid 1px white;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all 0.5s;
    }

    h3{
        letter-spacing:4px;
    }

    div:hover{
        transform: scale(1.05, 1.05);
        cursor: pointer;
    }
}

@media only screen and (max-width:550px){
    .descripcion{
    
        h2{
            color: $color-negro;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 5px;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 100px;
        }
    
    }
    
    .descripcion__precios{
        div{
            font-size: 20px;
            border: solid 1px black;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            transition: all 0.5s;
        }
    
        h3{
            letter-spacing:2px;
            font-size: 18px;
        }

        p{
            font-size: 15px;
        }
    
        div:hover{
            transform: scale(1.05, 1.05);
            cursor: pointer;
        }
    }
}

// Footer

footer{

    h3{
    font-size: 40px;
    font-family: $fuente-raleway;  
    }
    .footer__p{
        font-size: 30px;
        font-family: $fuente-raleway;  
    }
}

@media only screen and (max-width:550px){
    footer{

        h3{
        font-size: 30px;
        font-family: $fuente-raleway;  
        }
        .footer__p{
            font-size: 20px;
            font-family: $fuente-raleway;  
        }
    }
}







